.mainAidsWrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}

.filterWrapper{
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.oneAid{
  margin-bottom : 5px;
}

.MuiInputBase-root {
  min-width: 100px;
}