.MuiDialogContent-root {
  background-image: radial-gradient(circle at bottom right, #5b1f6b, #160f30);
}

.company-title {
  font-size: 40px;
  color: #5b1f6b;
  font-weight: bold;
}

.company-title-company {
  font-size: 30px;
  font-weight: bold;
  color: #8a5b97;
}

.company-separator {
  background: rgba(0, 0, 0, 0.3);
  height: 5px;
  margin: 10px;
}

.company-input {
  padding: 10px 0;
  width: 100%;
  input {
    width: 100%;
  }
}
